<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/app.css">        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 mobile-nav">
            <button class="hamburger hamburder--stand" id="nav-toggle" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
            <div class="mobile-menu">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Jak to działa?</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">O nas</a></li>
              </ul>
              <ul class="social-media">
                <li>
                  <a href="#"><img src="/img/icons_svg/ms_facebook_2.svg" alt="facebook"></a>
                </li>
                <li>
                  <a href="#"><img src="/img/icons_svg/ms_twitter_2.svg" alt="twitter"></a>
                </li>
                <li>
                  <a href="#"><img src="/img/icons_svg/ms_insta_2.svg" alt="instagram"></a>
                </li>
              </ul>
            </div>              
            <div class="logo-top">
              <img src="/img/icons_svg/logo_top.svg" alt="Looper">
            </div>
            <div class="mobile-search">
              <a href="#" class="search">
                <img src="/img/icons_svg/search_topmenu.svg" class="mobile-search-icon" alt="search">
              </a>
            </div>
          </div>

          <div class="col-sm-2 logo-top_container">
            <div class="logo-top">
              <img src="/img/icons_svg/logo_top.svg" alt="Looper">
            </div>
          </div>
          <div class="col-sm-4 tablet-menu_row">
            <div class="search-input-form">
              <div class="mobile-search">
                <img src="/img/icons_svg/search_topmenu.svg" class="mobile-search-icon" alt="lupka">
              </div>
              <input type="text" class="form-control" placeholder="Szukaj na stronie"/>
            </div>
            <div class="tablet-menu">
              <ul>
                <li><a href="#">Jak to działa?</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#" class="search"><img src="/img/icons_svg/search_topmenu.svg" class="tablet-search-icon" alt="search"></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 user-menu_container">
            <div class="user-menu">
              <ul>
                <li><a href="#" class="btn btn-yellow">Dodaj wyjazd</a></li>
                <li><a href="#" class="btn btn-yellow--border" id="log-in">Zaloguj się</a></li>
              </ul>
              <div class="desktop-user-menu">
                <div class="desktop-user-menu__inner mobile-nav--icons">
                  <a href="#" class="btn btn-yellow">+</a>
                  <a href="#" class="mobile-menu-notification" ><img src="/img/icons_svg/notification_topmenu.svg" alt="notification"></a>
                  <a href="#" class="mobile-menu-messages" ><img src="/img/icons_svg/message_topmenu.svg" alt="message"></a>
                  <a href="#" class="mobile-menu-user-avatar" ><img src="/img/users_avatar/user_avatar.png" alt="avatar"><span>mg</span></a>
                </div>
              </div>
              <div class="more-notification">
                <ul class="tour-parcitipaitors">
                  <li><a href="#">Masz chętnych na wyjazd(15)</a></li>
                  <li><img src="/img/users_avatar/user1.jpg" alt="zdjęcie użytkownika"><p class="p2"><strong>Marta Kowalska</strong> chce dołączyć do wyjazdu <strong>Zimowe przejście Tatr Zachodnich</strong><span>2h</span></p></li>
                  <li><img src="/img/users_avatar/user2.jpg" alt="zdjęcie użytkownika"><p class="p2"><strong>Kasia Kamińska</strong> chce dołączyć do wyjazdu<strong>Zimowe przejście Tatr Zachodnich</strong><span>5h</span></p></li>
                </ul>
                <ul class="parcitipaitors-matching">
                  <li><a href="#">Użytkownicy pasujący do Ciebie(21)</a></li>
                  <li><img src="/img/users_avatar/user3.jpg" alt="zdjęcie użytkownika"><p class="p2"><strong>Marta Kowalska</strong> chce dołączyć do wyjazdu<Strong>Trekking wzdłuż Izerki</Strong><span>2h</span></p></li>
                  <li><img src="/img/users_avatar/user_avatar.png" alt="zdjęcie użytkownika"><p class="p2"><strong>Kasia Kamińska</strong> chce dołączyć do wyjazdu<strong>Zimowe przejście Tatr Zachodnich</strong><span>21.08</span></p></li>
                </ul>
                <ul class="tour-proposals">
                  <li><a href="#">Propozycje wyjazdów dla Ciebie(6)</a></li>
                  <li><img src="/img/users_avatar/user1.jpg" alt="zdjęcie użytkownika"><p class="p2"><strong>Marta Kowalska</strong> organizuje wyjazd <strong>Zimowe zdobycie Mount Everest</strong><span>20.08</span></p></li>
                  <li><img src="/img/users_avatar/user_avatar.png" alt="zdjęcie użytkownika"><p class="p2"><strong>Remek Przemek</strong> organizuje wyjazd <strong>Główna grań to nie drań</strong><span>14.08</span></p></li>
                </ul>
                <a href="#" class="btn btn-border">Zobacz wszystkie powiadomienia</a>
              </div>
              <div class="more-messages">
                <ul>
                  <li><img src="/img/users_avatar/user_avatar.png" alt="zdjęcie użytkownika"><p class="p1">Marta Kowalska</p><p class="p2">orem ipsum dolor sit amet, consectetur adipiscing elit<span>1h</span></p></li>
                  <li><img src="/img/users_avatar/user1.jpg" alt="zdjęcie użytkownika"><p class="p1">Kasia Kamińska</p><p class="p2">orem ipsum dolor sit amet, consectetur adipiscing elit<span>2h</span></p></li>
                  <li><img src="/img/users_avatar/user2.jpg" alt="zdjęcie użytkownika"><p class="p1">Przemek Remek</p><p class="p2">orem ipsum dolor sit amet, consectetur adipiscing elit<span>3h</span></p></li>
                  <li><img src="/img/users_avatar/user3.jpg" alt="zdjęcie użytkownika"><p class="p1">Mysia Pysia</p><p class="p2">orem ipsum dolor sit amet, consectetur adipiscing elit<span>5h</span></p></li>
                  <li><img src="/img/users_avatar/user_avatar.png" alt="zdjęcie użytkownika"><p class="p1">Jasiu Stasiu</p><p class="p2">orem ipsum dolor sit amet, consectetur adipiscing elit<span>8h</span></p></li>
                  <li><img src="/img/users_avatar/user1.jpg" alt="zdjęcie użytkownika"><p class="p1">Jacek Placek</p><p class="p2">orem ipsum dolor sit amet, consectetur adipiscing elit<span>10h</span></p></li>
                  <li><img src="/img/users_avatar/user2.jpg" alt="zdjęcie użytkownika"><p class="p1">Marta Kowalska</p><p class="p2">orem ipsum dolor sit amet, consectetur adipiscing elit<span>12h</span></p></li>
                </ul>
                <a href="#" class="btn btn-border">Zobacz wszystkie wiadomości</a>
              </div>
              <div class="mobile-menu-user-menu">
                <ul>
                  <li><a href="#">Twój profil</a></li>
                  <li><a href="#">Edytuj profil</a></li>
                  <li><a href="#">Moje wyjazdy</a></li>
                  <li><a href="#">Recenzje i opinie</a></li>
                  <li><a href="#">Ustawienia konta</a></li>
                  <li><a href="#">Wyloguj</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>