h1,
.h1 {
  font-family: $tiempos-bold;
  font-weight: 400;
  font-size: 60px;

  @media (max-width: $screen-lg) {
    font-size: 44px;
  }
  @media (max-width: $screen-md) {
    font-size: 27px;
  }
}
h2,
.h2 {
  font-family: $tiempos-bold;
  font-weight: 400;
  font-size: 50px;

  @media (max-width: $screen-lg) {
    font-size: 38px;
  }
  @media (max-width: $screen-md) {
    font-size: 27px;
  }
}
h3,
.h3 {
  font-family: $tiempos-bold;
  font-weight: 400;
  font-size: 44px;

  @media (max-width: $screen-lg) {
    font-size: 32px;
  }
  @media (max-width: $screen-md) {
    font-size: 24px;
  }
}
h4,
.h4 {
  font-family: $tiempos-bold;
  font-weight: 400;
  font-size: 30px;

  @media (max-width: $screen-lg) {
    font-size: 24px;
  }
  @media (max-width: $screen-md) {
    font-size: 20px;
  }
}
h5,
.h5 {
  font-family: $tiempos-bold;
  font-weight: 400;
  font-size: 26px;

  @media (max-width: $screen-lg) {
    font-size: 22px;
  }
  @media (max-width: $screen-md) {
    font-size: 20px;
  }
}
h6,
.h6 {
  font-family: $proxima-nova-bold;
  font-weight: 400;
  font-size: 25px;

  @media (max-width: $screen-lg) {
    font-size: 22px;
  }
}
.h7 {
  font-family: $proxima-nova-bold;
  font-weight: 400;
  font-size: 20px;

  @media (max-width: $screen-lg) {
    font-size: 20px;
  }
  @media (max-width: $screen-md) {
    font-size: 18px;
  }
}

strong {
  font-family: $proxima-nova-bold;
}

// Paragraphs
p {
  font-family: $proxima-nova;
  font-size: 16px;

  @media (max-width: $screen-lg) {
    font-size: 14px;
  }
  @media (max-width: $screen-md) {
    font-size: 14px;
  }
  strong {
    font-family: $proxima-nova-bold;
  }
}
.p1 {
  font-family: $proxima-nova;
  font-weight: 400;
  font-size: 20px;

  @media (max-width: $screen-lg) {
    font-size: 18px;
  }
  @media (max-width: $screen-md) {
    font-size: 16px;
  }
}
.p2 {
  font-family: $proxima-nova;
  font-weight: 400;
  font-size: 16px;

  @media (max-width: $screen-lg) {
    font-size: 14px;
  }
}
.p3 {
  font-family: $proxima-nova;
  font-weight: 400;
  font-size: 14px;
}
.p4 {
  font-family: $proxima-nova;
  font-weight: 400;
  font-size: 13px;
}
