.blog-and-tips{
  background-color: #f7f7f7;
  padding-bottom: 55px;
  h2:nth-of-type(1){
    margin-bottom: 30px;
  }
  .container-fluid{
    padding:0;
    background-color: #fff;
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.05);
    img{
      max-width:100%;
    }
    text-align: center;
    p2:nth-of-type(1){
      color: #F6AF2F;
      text-transform: uppercase;
      margin:30px 0 20px;
    }
    p1:nth-of-type(1){
      margin:0 0 15px;
    }
    p1:nth-of-type(2){
      margin:0 0 35px;
    }
    .more{
      margin:0;
      float:none;
    }
    .more:after{
      width:25px;
    }
  }
  .btn.more{
    margin-top:11px;
  }
}

//baner dolacz do nas
.join-us{
  background: url(/img/backgrounds/bg-join-us.jpg) no-repeat 50%;
  background-position: 80%;
  background-size: auto 100%;
  h2{
    color:#fff;
    margin:215px 0 50px;
  }
  .btn.btn-yellow{
    margin:0 0 170px;
  }
}