.destination-photos{
  background-color: #f7f7f7;
  h2:nth-of-type(1){
    margin:15px 0 20px;
  }
  .destination-photos__photo{
    position:relative;
    img{
      width:100%;
      max-width:100%;
    }
  }
  .destination-photos__descryption{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 120px;
    p2, h6{
      color:#fff;
      margin-bottom:5px;
      margin:0;
    }
  }
  .container-fluid.how-it-works{
    background: url(/img/backgrounds/bg-how-it-works.jpg) no-repeat 50%;
    margin-top:50px;
    p2, p1, h2{
      color:#fff;
    }
    p2{
      margin-top:90px;
      margin-bottom:35px;
    }
    h2{
      margin:0;
    }
    p1{
      margin:15px 0 45px;
      font-weight: normal;
    }
    .btn-yellow{
      margin-bottom: 165px;
    }
  }
  .testimonials{
    text-align: center;
    margin-top:50px;
    img{
      border-radius: 100%;
      width:100px;
      height:100px;
    }
    .testimonials-image{
      position:relative;
      max-width: 100px;
      margin: 0 auto 10px;
    }
    .testimonials-image:after{
      content: '';
      display: block;
      width: 92px;
      height: 92px;;
      position: absolute;
      left: 2px;
      top: 2px;
      border-radius: 100%;
      background-color: transparent;
      border: 2px solid #fff;
    }
    p2:nth-of-type(1){
      margin:20px 0 25px;
      line-height: 1.48;
    }
    p2:nth-of-type(2){
      position:relative;
    }
    p2:nth-of-type(2):before{
      content: '"';
      color: #BEBEC9;
      font-size: 48px;
      font-family: "Proxima Nova Bold";
      position: absolute;
      left: 0px;
      top: -25px;
    }
    p2:nth-of-type(2):after{
      content: '"';
      color: #BEBEC9;
      font-size: 48px;
      font-family: "Proxima Nova Bold";
      position: absolute;
      right: 0px;
      bottom: -28px;
    }
    .rating{
      margin:6px 0 45px;
    }
    .star{
      background:url('/img/icons_svg/star_userinfo_2.svg');
      display:inline-block;
      width:20px;
      height:20px;
    }
    .star.active{
      background:url('/img/icons_svg/star_userinfo_1.svg');
    }
  }
  @media only screen and (min-width:768px){
     .container-footer-nav{
      padding:0;
      margin-top:40px;
      .btn{
        padding:0;
      }
      li{
        margin:0;
      }
    }
    .prev{
      position: relative;
      bottom:0;
      border: 0;
      background: transparent url(/img/icons_svg/slider_arrow_left.svg) no-repeat 0 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .next{
      position: relative;
      right: -37px;
      bottom:0;
      border: 0;
      background: transparent url(/img/icons_svg/slider_arrow_right.svg) no-repeat 0 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .col-sm-4:nth-of-type(2){
      padding-left:0;
    }
    .col-sm-4:nth-of-type(4){
      padding-right:0;
    }
    .col-sm-4{
      box-sizing: border-box;
      img{
        width:100%;
        height:490px;
      }
    }
  }
}