//fintour.scss
.find-your-tour{
  background:url('/img/backgrounds/bg-home-slider.jpg') no-repeat 50%;
  height:800px;
  background-size:auto;
  background-position: 100%;
  background-size:auto 100%;
  .container{
    position:relative;
  }
  .calender{
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    border-radius:5px;
    padding:0 11px 11px 11px;
    position:absolute;
    z-index:5;
    top:85px;
    @media only screen and (max-width:350px){
      th, td{
        min-width:35px!important;
      }
    }
    @media only screen and (min-width:768px){
      top:95px;
    }
    @media only screen and (min-width:1280px){
      top:120px;
    }    
    float:left;
    width:max-content;
    color:#333;
    text-align: left;
    background-color:#fff;
    background-clip:padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    th{
      min-width: 40px;
      padding: 11px 9px;
      text-align: center;
      font-weight: normal;
      font-size: 12px;
      box-sizing: border-box;
      img{
        width: 10px;
        cursor: pointer;
        vertical-align: middle;
      }
    }
    td{
      border-bottom: 1px solid #fff;
      min-width: 40px;
      padding: 11px 9px;
      text-align: center;
      box-sizing: border-box;
    }
    tbody{
      font-size: 12px;
      tr td:first-of-type{
        border-radius: 20px 0 0 20px;
      }
      tr td:last-of-type{
        border-radius:0 20px 20px 0;
      }
    }
    table{
      border-collapse: collapse;
      background-color: transparent;
      width:100%;
      box-sizing: border-box;
    }
    .month{
      font-weight: normal;
      min-width:40px;
      text-align: center;
      font-size: 14px;
    }
    thead{
      width:100%;
      text-align: center;
      box-sizing: border-box;
    }
    .off{
      color:#b3b6c1;
    }
    .on{
      color: #333;
    }
    .start{
      background-color: #F6AF2F;
      color: #fff;
      border-radius: 20px;
      position:relative;
    }
    .start:after{
      content: '';
      display: block;
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: #fce4b8;
      z-index: -10;
    }
    .end{
      background-color: #F6AF2F;
      color: #fff;
      border-radius: 20px;
      position:relative;
    }
    .end:before{
      content: '';
      display: block;
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: #fce4b8;
      z-index: -10;
    }
    .in-range{
      background: #fce4b8;
    }
    .left{
      float:left;
      padding-bottom:11px;        
    }
    .left:before{
      content: '';
      background: #f5f4f4;
      position: absolute;
      left: 0;
      top: 0;
      height: 40px;
      width: 100%;
      z-index: -1;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    .right{
      position:relative;
      @media only screen and (min-width:768px){
        float:left;
      }
    }
  }
  @media only screen and (max-width:767px){
    height:540px;
    .right:before{
      content: '';
      background: #f5f4f4;
      position: absolute;
      left: 0;
      top:calc(50% + 5px);
      height: 40px;
      width: 100%;
      padding:0 11px 0 11px;
      margin-left:-11px;
      z-index: -1;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;       
    }
  }
  @media only screen and (max-width:359px){
    height:550px;
  }
  align-items: center;
  display:flex;
  h1, .p1{
    color:#fff;
    margin-bottom:.5rem;
    margin-top:0;
    @media only screen and (min-width:768px){
      width:74%;
    }
  }
  .p1{
    font-weight: 100;
    @media only screen and (min-width:1280px){
      font-size: 26px;
    }
    @media only screen and (min-width:768px) and (max-width:1279px){
      font-size: 22px;
    }
  }
  .input-white-search-icon{
    width:20px;
    height:15px;
    margin-top:-7px;
    position:relative;
    top:2px;
  }
  .form-inline{
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    position:relative;
    color:#fff;
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }
    padding-top:30px;
  }
  .sr-only{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip: rect(0, 0, 0, 0);
    border:0;
  }
  .label{
    display:block;
    touch-action: manipulation;
  }
  input{
    overflow: visible;
  }
  input[type="text"]{
    border-radius:17px;
    padding:11px 22px 9px;
  }
  .input-group-addon{
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    img{
      width: 20px;
      height: 20px;
      vertical-align: middle;
      border-style: none;
    }
  }
  .where-inputs .input-group .form-control{
    border:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    z-index: 2;
    flex:1 1 auto;
    width:1%;
    margin-bottom:0;
    &:last-of-type{
      @media only screen and (min-width:1280px){
        font-size: 16px;
        font-family: 'Proxima Nova Regular', sans-serif;
      }
    }
  }
  .where-inputs input{
    background: transparent;
    color: #474952;
  }
  .next-section{
    position: relative;    
    text-align: center;
    top:70px;
    font-family: 'Proxima Nova Regular', sans-serif;
    @media only screen and (max-width:767px){
      font-size: 15px;
    }
    @media only screen and (min-width:768px){
      font-size: 16px;
    }
    font-weight: 100;
    width: 100%;
    display: block;
    color: #fff;
    text-transform: uppercase;
  }
  .next-section:after{
    content: '';
    display: block;
    background: url(/img/icons_svg/arrow_banner.svg) no-repeat 100% ;
    width: 25px;
    height: 18px;
    margin: 5px auto 30px;
  }
  @media only screen and (max-width:767px){
    .btn-yellow{
      width:100%;
    }
    .where-inputs{
      width:100%;
      background: transparent;
      border-radius: 0;
      padding:0;
      margin-right:0;
    }
    .input-group{
      width:100%;
      border:0;
      padding:7px 0;
      background:#fff;
      margin-bottom:6px;
      border-radius:28px;
      position:relative;
      display:flex;
    }
  }
  @media only screen and (min-width:768px){
    height:570px;
    h1{
      margin-top:130px;
      margin-bottom: 20px;
    }
    .p1{
      margin-bottom: 20px;
    }
    .btn.btn-yellow{
      font-size:0;
      float:right;
      .input-white-search-icon{
        width:25px;
        height:29px;
      }
    }
    .form-inline{
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    .where-inputs{
      width:80%;
      border-radius: 35px;
      margin-right: 20px;
      background: #fff;
      padding: 0 15px;
      .input-group:first-of-type {
        border-right: 1px solid #EFF1F6;
        width:48%;
      }
      .input-group:last-of-type {
        margin-left:10px;
      }
      .input-group{
        width:50%;
        border: 0;
        padding: 7.5px 0;
        position: relative;
        display: flex;
        .form-control{
          padding:15px 0;
        }
        .form-control:last-of-type{
          margin-left:10px;
        }
        .input-group-addon{
          margin-right:10px;
        }
      }
    }
    .form-inline label{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }
  }
  @media only screen and (min-width:1280px){
    height:800px;
    h1{
      margin-top:50px;
    }
    .where-inputs{
      width:74%;
      .input-group{
        .form-control{
          padding:22.5px 0;
        }
      }
    }
    .btn.btn-yellow{
      font-size:14px;
      line-height:37.5px;
      border-radius:37.5px;
      float:left;
    }
    .input-white-search-icon{
      top:10px;
      margin-right:12px;
    }
    .form-inline{
      justify-content:flex-start;
    }
    .next-section{
      top:180px;
    }
  }
  .calender{
    display:none;
  }
}
//key-features
.key-features{
  background-color:#eee;
  padding:30px 0 35px;
  text-align: center;
  img{
    height:55px;
    width:auto;
    vertical-align: middle;
    border-style:none;
  }
  strong{
    font-family: 'Proxima Nova Bold', sans-serif;
    font-weight: 600;
    @media only screen and (max-width:767px){
      font-size: 13px;
    }
    @media only screen and (min-width:768px) and (max-width:1279px){
      font-size: 13px;
    }
  }
  .p3{
    @media only screen and (max-width:767px){
      font-size: 12px;
    }
    @media only screen and (min-width:768px) and (max-width:1279px){
      font-size: 12px;
    }
  }
  .container{
    position:relative;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .col-sm-3.col-xs-6{
    box-sizing:border-box;
  }
}
//user-tours
.container-footer-nav{
  display:block;
  padding:15px 0 0 10px;
  margin:0;
  list-style: none;
  float:left;
  .active{
    opacity:1;
  }
  li{
    display:inline-block;
    margin-left:8px;
    opacity:0.75;
    span{
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background: #c8cbd6;
    }
  }
}
.users-tours{
  padding-top:50px;
  background-color: #f7f7f7;
  h2{
    margin:0 0 15px 0;
  }
  @media only screen and (max-width:767px){
    .container-fluid{
      margin-bottom: 30px;
    }
  }
  @media only screen and (min-width:768px){
    .users-tours-tablet-nav{
      padding-top:20px;
      padding-bottom: 30px;
      display: flex;
      padding-left: 0;
      margin: 0;
      list-style: none;
      text-transform: none;
      text-decoration: none;
      box-sizing: border-box;
      a{
        color: #474952;
        font-weight: normal;
        box-sizing: border-box;
        @media only screen and (min-width:768px) and (max-width:1279px){
          font-size: 13px;
        }
        @media only screen and (min-width:1280px){
          font-size: 14px;
        }
      } 
      .active a{
        background: #fff;
        border-color: #ddd;
      }
      li{
        padding-right:2px;
        a{
          display: inline-block;
          line-height: 45px;
          padding: 0 20px;
          border: 1px solid transparent;
          border-radius: 23.5px;
        }
      }
    }
    .container-fluid:nth-of-type(2){
      margin-right:15px;
    }
    .container-fluid:last-of-type{
      margin-left:15px;
      float:right;
    }
    .container-fluid{
      max-width:47%;
      box-sizing: border-box;
      float:left;
      .col-sm-12{
        box-sizing: border-box;
        padding:0 20px;
      }
    }
    .container-footer-nav{
      padding:0;
      margin-top:40px;
      width:45%;
      .btn{
        padding:0;
      }
      li{
        margin:0;
      }
    }
    .prev{
      position: relative;
      bottom:0;
      border: 0;
      background: transparent url(/img/icons_svg/slider_arrow_left.svg) no-repeat 0 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .next{
      position: relative;
      right: -37px;
      bottom:0;
      border: 0;
      background: transparent url(/img/icons_svg/slider_arrow_right.svg) no-repeat 0 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  @media only screen and (min-width:1280px){
    overflow: hidden;
    .container-fluid{
      width:31.55%;
      .person-list{
        span{
          color: #9EA1AD;
          font-weight: 700;
          display: inline-block;
          width: 44px;
          height: 44px;
          line-height: 44px;
          background: #EFF1F6;
          text-align: center;
          border-radius: 100%;
          margin-left:-10px;
          font-family: 'Proxima Noba Bold';
        }
      }
    }
    .container-fluid:nth-of-type(3){
      margin:0 15px;
    }
    .container-fluid:last-of-type{
      float:left;
    }
    .prev{
      position:absolute;
      bottom:50%;
      left:-30px;
    }
    .next{
      position:absolute;
      bottom:50%;
      right:-30;
    }
  }
  .select{
    width:100%;
    position:relative;
    display:inline-block;
    margin-bottom: 20px;
  }
  .selected{
    background-color: #fff;
    border:1px solid #e5e7f0;
    padding:11px 22px 9px;
    border-radius: 17px;
    cursor:pointer;
    margin-bottom:25px;
    .p2{
      font-size: 13px;
      margin:0;
    }
    .p2:after{
      content:'';
      display: inline-block;
      position:absolute;
      right:20px;
      top:12px;
      background: url(/img/icons_svg/arrow_rozwin.svg) no-repeat 100%;
      width:15px;
      height:15px;

    }
  }
  .container-fluid{
    background-color:#fff;
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.05);
    position:relative;
    padding:0;
    .person{
      margin-top:20px;
      display:flex;
      align-items: center;
      flex-direction: row;
      .person-name{
        p{
          font-family: 'Proxima Nova Bold', sans-serif;
        }
      }
    }
    .person-row{
      padding-bottom:20px;
      display:flex;
      justify-content: space-between;
      flex-direction: row;
    }
    .person-avatar{
      position:relative;
      margin-right:10px;
      img{
        border-radius: 100%;
        max-width:50px;
        vertical-align: middle;        
      }
    }
    .person-name{
      .p3{
        margin-bottom:5px;
        margin-top:5px;
      }
    }
    .person-avatar:after{
      content: '';
      display: block;
      width:41px;
      height:41px;
      position: absolute;
      left: 2px;
      top: 2px;
      border-radius: 100%;
      background-color: transparent;
      border: 2px solid #fff;
    }
    .star{
      background:url('/img/icons_svg/star_userinfo_2.svg');
      display:inline-block;
      width:15px;
      height:15px;
      float:left;       
    }
    .star.active{
      background:url('/img/icons_svg/star_userinfo_1.svg');
    }
    .trip-time span{
      background-color: #B3B6C1;
      color: #fff;
      width:30px;
      font-size: 13px;
      padding: 0 10px;
      border-radius: 10px;
      line-height: 26px;
      display: inline-block;
      margin-top:20px;
    }

    .tour-dates-row{
      text-align: center;
      text-align: center;
      .p3{
        margin:0;
        text-align: center;
        margin-bottom:10px;
        font-size: 15px;
        @media only screen and (max-width:767px){
          font-size: 14px;
        }
        @media only screen and (min-width:768px) and (max-width:1279px){
          font-size: 14px;
        }
      }
      span{
        line-height: 1.5;
        font-size: 13px;
        font-family: 'Proxima Nova Regular', sans-serif;
        font-weight: 100;
        color: #464952;
        letter-spacing: 0;
        @media only screen and (max-width:767px){
          font-size: 12px;
        }
        @media only screen and (min-width:768px) and (max-width:1279px){
          font-size: 12px;
        }
      }
      padding-bottom:20px;
      display:flex;
      justify-content: space-between;
      flex-direction: row;
      .tour-dates-row__date:first-of-type{
        background: url(/img/icons_svg/arrow_right.svg) no-repeat 100% 0;
        background-size: 28px auto;
      }
      .tour-dates-row__date{
        width: 50%;
        padding-right: 28px;
      }
      .tour-dates-row__date:last-of-type{
        background: url(/img/icons_svg/elastic_date_active.svg) no-repeat 100% 0;
        background-size: 24px auto;
        padding-right:24px;
      }
    }
    .tour-details{
      padding-bottom:18px;
      .p2{
        margin:0;
        @media only screen and (max-width:767px){
          font-size: 13px;
        }
        @media only screen and (min-width:768px) and (max-width:1279px){
          font-size: 13px;
        }
        @media only screen and (min-width:1280px){
          font-size: 14px;
        }
      }
      ul{
        padding:0;
        margin:0;
        list-style: none;
        li{
          padding-left: 30px;
          margin-bottom: 12px;
        }
        li:nth-of-type(1){
          margin-top:25px;          
          background: url(/img/icons_svg/destynacja.svg) no-repeat 0 50%;
          background-size: 20px;
        }
        li:nth-of-type(2){
          background: url(/img/icons_svg/miasto_startowe.svg) no-repeat 0 50%;
          background-size: 22px auto;
        }
        li:nth-of-type(3){
          background: url(/img/icons_svg/transport.svg) no-repeat 0 50%;
          background-size: 22px auto;
        }
      }
    }
    .col-sm-12:nth-of-type(2){
      border-top: 1px solid #EFF1F6;
      text-align: center;
      padding-bottom: 30px;
      .p2{
        margin-top:30px;
        margin-bottom: 20px;
        font-family: 'Proxima Nova Bold',sans-serif;
        font-size: 13px;
      }
      .btn.btn-yellow{
        font-size: 13px;
        font-family: 'Proxima Nova Bold',sans-serif;
      }
    }
    .person-list{
      padding:0;
      margin:0;
      list-style:none;
      display:flex;
      .participer{
        margin:0 0 30px;
        width:40px;
        height:40px;
        display:inline-block;
        float:left;
        margin-left:-10px;
        img{
          width:100%;
          height:auto;
          border-radius: 100%;
          border:2px solid #eff1f6;
          vertical-align: middle;
        }
      }
      .participer:first-of-type{
        margin-left:0;
      }
      .join{
        width:40px;
        height:40px;
        display:inline-block;
        float:left;
        margin-left:15px;
        border-radius: 100%;
        border:2px solid #eff1f6;
        img{
          width:20px;
          height:20px;
          margin:10px 10px;
          vertical-align: middle;
        }
      }
    }
  }  
}
//destination-photos
.destination-photos{
  background-color: #f7f7f7;
  h2:nth-of-type(1){
    margin:15px 0 20px;
  }
  .col-sm-4.col-lg-3{
    padding:0px;
    img{
      object-fit: cover
    }
    @media only screen and (min-width:768px) and (max-width:1279px){
      &:nth-of-type(2){
        padding-right: 20px;
      }
      &:nth-of-type(3){
        padding:0 10px 0 10px;
      }
      &:nth-of-type(4){
        padding-left:20px;
      }
    }
    @media only screen and (min-width:1280px){
      &:nth-of-type(2){
        padding-right: 30px!important;
      }
      &:nth-of-type(3){
        padding:0 20px 0 10px;
      }
      &:nth-of-type(4){
        padding:0 10px 0 20px;
      }
      &:nth-of-type(5){
        padding-left: 30px!important;
      }
    }
  }
  .destination-photos__photo{
    position:relative;
    img{
      width:100%;
      max-width:100%;
    }
    @media only screen and (max-width:767px){
      margin-bottom: 25px;
      img{
        object-fit: cover;
      }
    }
  }
  .destination-photos__descryption{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 120px;
    .p2, h6{
      color:#fff;
      margin-bottom:5px;
      margin:0;
    }
  }
  .container-fluid.how-it-works{
    @media only screen and (min-width:1280px){
      height:800px;
      background: url(/img/backgrounds/bg-how-it-works.jpg) no-repeat 100%;
      .p2{
        margin-top:150px;
        margin-bottom:35px;
        font-size: 18px;
      }
      .p1{
        @media only screen and (min-width:1280px){
          font-size: 26px;
          font-weight: 100;
          letter-spacing: 0;
        }
      }
      h2{
        margin:0 0 20px;

      }
      h2, .p1{
        @media only screen and (min-width:1280px){
          max-width:740px;
        }
      }
    }
    background: url(/img/backgrounds/bg-how-it-works.jpg) no-repeat 50%;
    margin-top:50px;
    .p2, .p1, h2{
      color:#fff;
    }
    @media only screen and (max-width:767px){
      .p2{
        font-size: 18px;
      }
    }
    @media only screen and (min-width:768px) and (max-width:1279px){
      .p2{
        font-size: 18px;
      }
      .p1{
        font-size: 22px;
      }
      .btn.btn-yellow{
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
    @media only screen and (max-width:1279px){
      .p2{
        margin-top:90px;
        margin-bottom:35px;
      }
      h2{
        margin:0;
      }
    }

    .p1{
      margin:15px 0 45px;
      font-weight: normal;
    }
    .btn-yellow{
      margin-bottom: 165px;
    }
  }
  .testimonials{
    text-align: center;
    margin-top:50px;
    @media only screen and (max-width:1279px){
      margin-top:50px;
    }
    @media only screen and (min-width:1280px){
      margin-top:100px;
      padding-bottom:13.5px;
    }
    img{
      border-radius: 100%;
      width:100px;
      height:100px;
    }
    .testimonials-image{
      position:relative;
      max-width: 100px;
      margin: 0 auto 10px;
    }
    .testimonials-image:after{
      content: '';
      display: block;
      width: 92px;
      height: 92px;;
      position: absolute;
      left: 2px;
      top: 2px;
      border-radius: 100%;
      background-color: transparent;
      border: 2px solid #fff;
    }
    .p2:nth-of-type(1){
      margin:20px 0 25px;
      line-height: 1.48;
      font-family: 'Proxima Nova Bold', sans-serif;
      @media only screen and (max-width:767px){
        font-size: 16px;
        font-weight: 600;
      }
      @media only screen and (min-width:768px) and (max-width:1279px){
        font-size: 16px;
      }
    }
    .p2:nth-of-type(2){
      position:relative;
      @media only screen and (max-width:767px){
        font-size: 14px;
      }
      @media only screen and (min-width:768px) and (max-width:1279px){
        font-size: 15px;
      }
    }
    .p2:nth-of-type(2):before{
      content: '"';
      color: #BEBEC9;
      font-size: 48px;
      font-family: "Proxima Nova Bold";
      position: absolute;
      @media only screen and (max-width:767px){
        top:-20px;
        left:-15px;
      }
      @media only screen and (min-width:768px) and (max-width:1279px){
        top:-15px;
        left:-25px;
      }
      @media only screen and (min-width:1280px){
        left: -22px;
        top: -17.5px;
      }
    }
    .p2:nth-of-type(2):after{
      content: '"';
      color: #BEBEC9;
      font-size: 48px;
      font-family: "Proxima Nova Bold";
      position: absolute;
      @media only screen and (max-width:767px){
        bottom:-27px;
        right:-10px;
      }
      @media only screen and (min-width:768px) and (max-width:1279px){
        bottom:-23px;
        right:-15px;
      }
      @media only screen and (min-width:1280px){
        right: 180px;
        bottom: -24.5px;
      }
    }
    .rating{
      margin:6px 0 45px;
    }
    .star{
      background:url('/img/icons_svg/star_userinfo_2.svg');
      display:inline-block;
      width:20px;
      height:20px;
    }
    .star.active{
      background:url('/img/icons_svg/star_userinfo_1.svg');
    }
  }
  @media only screen and (min-width:768px){
    .container-footer-nav{
      padding:0;
      margin-top:40px;
      .btn{
        padding:0;
      }
      li{
        margin:0;
      }
    }
    .prev{
      position: relative;
      bottom:0;
      border: 0;
      background: transparent url(/img/icons_svg/slider_arrow_left.svg) no-repeat 0 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .next{
      position: relative;
      right: -37px;
      bottom:0;
      border: 0;
      background: transparent url(/img/icons_svg/slider_arrow_right.svg) no-repeat 0 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .col-sm-4{
      box-sizing: border-box;
      img{
        width:100%;
        height:490px;
      }
    }
  }
  @media only screen and (min-width:1280px){
    .container{
      position:relative;
    }
    .prev{
      position:absolute;
      bottom:50%;
      left:30px;
    }
    .next{
      position:absolute;
      bottom:50%;
      right:30px;
    }
  }
}
//blog&tips
.blog-and-tips{
  background-color: #f7f7f7;
  padding-bottom: 55px;
  h2:nth-of-type(1){
    margin-bottom: 30px;
  }
  .container-fluid{
    padding:0;
    background-color: #fff;
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.05);
    img{
      max-width:100%;
    }
    text-align: center;
    .p2:nth-of-type(1){
      color: #F6AF2F;
      text-transform: uppercase;
      margin:30px 0 20px;
    }
    @media only screen and (max-width:767px){
      .p1{
        font-size: 14px;
        strong{
          font-size: 18px;
        }
      }
    }
    @media only screen and (min-width:768px) and (max-width:1279px){
      .p1{
        font-size: 14px;
        strong{
          font-size: 18px;
        }
      }
    }
    .p1:nth-of-type(1){
      margin:0 0 15px;
    }
    .p1:nth-of-type(2){
      margin:0 0 35px;
    }
    .more{
      margin:0;
      float:none;
    }
    .more:after{
      width:25px;
    }
  }
  .btn.more{
    margin-top:11px;
  }
  @media only screen and (min-width:768px){
    .container-fluid{
      max-width:47.5%;
      box-sizing: border-box;
      float:left;
      min-height:500px;
      img{
        width:100%;
      }
      .col-sm-12{
        box-sizing: border-box;
      }
      .btn.more{
        margin-top:11px;
      }
    }
    .container-fluid:nth-of-type(1){
      margin-right:15px;
    }
    .container-fluid:nth-of-type(2){
      margin-left:15px;
      float:right;
    }
    .btn.more{
      margin-top:16px;
    }
  }
  @media only screen and (min-width:1280px){
    padding-bottom: 100px;
    .container-fluid{
      max-width:31.5%;
      min-height:625px;
      .p2{
        font-size: 14px;
      }
      .p1{
        strong{
          font-family: 'Proxima Nova Bold', sans-serif;
          font-size: 18px;
        }
        font-size: 14px;
      }
      .col-sm-12{
        padding:0 30px;
      }
    }
    .container-fluid:nth-of-type(1){
      margin-right:26.5px;
      width:calc(33.33333% - 26.5px);
    }
    .container-fluid:nth-of-type(2){
      float:left;
      margin-right:13.5px;
      margin-left:13.5px;
      width:calc(33.3333% - 27px);
    }
    .container-fluid:last-of-type{
      margin-left:26.5px;
      float:right;
      width:calc(33.3333% - 26.5px);
    }
  }
}

//baner dolacz do nas
.join-us{
  background: url(/img/backgrounds/bg-join-us.jpg) no-repeat 50%;
  background-position: 72.5%;
  background-size: auto 100%;
  h2{
    color:#fff;
    margin:215px 0 50px;
    @media only screen and (min-width:1280px){
      width:70%;
    }
  }
  .btn.btn-yellow{
    margin:0 0 170px;
    font-size: 16px;
    font-weight: 600;
    @media only screen and (max-width:767px){
      font-size: 14px;
    }
  }
  @media only screen and (min-width:1280px){
    height:650px;
    h2{
      margin-top:190px;
      margin-bottom: 65px;
    }
  }
}
