header{
  padding:20px 0;
}
.mobile-nav{
  display:flex;
  flex-direction: row;
  position:relative;
  justify-content: space-between;
}
.logo-top{
  display:flex;
  align-items: center;
  height:100%;
  img{
    width:79px;
    height:23px;
    vertical-align: middle;
  }
}
.mobile-search-icon{
  width:22px;
  height:22px;
}
.mobile-nav--icons{
  padding:20px 15px;
  padding-bottom:0px;
  display:flex;
  flex-direction: row;
  position:relative;
  justify-content: space-between;
  .btn-yellow{
    border-radius: 50%;
    padding:15px 15px;
    font-size: 20px;
    width:10px;
    height:10px;
    line-height:0.6;
  }
   img{
    width:18px;
    height:18px;
    border:1px solid lightgray;
    padding:10px;
    border-radius: 50%;
  }
}
.mobile-menu-notification{
  width:40px;
  height:40px;
}
.mobile-menu-messages{
  width:40px;
  height:40px; 
}
.mobile-menu-user-avatar{
  width:40px;
  height:40px; 
  img{
    padding:3px;
    width:32px;
    height:32px;
  }
}