header{
  padding:20px 0;
  box-sizing: border-box;
  @media only screen and (min-width:768px) and (max-width:1279px){
    box-sizing: border-box;
    .logo-top{
      width:max-content;
      img{
        margin-top:20px;
        width:80px;
        height:30px;
      }
    }
    .col-sm-4.hidden-xs{
      width:max-content;
    }
    .tablet-menu{
      position:relative;
      margin-top:26px;
      box-sizing: border-box;
      ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;
        padding-left: 0;
        margin: 0;
        li:nth-of-type(1){
          padding-right:5px;
          padding-left:0;
        }
        li{
          display: inline-flex;
          padding: 0 10px;
          a{
            color: #474952;
            text-transform: none;
            text-decoration: none;
            font-weight: normal;
            .tablet-search-icon{
              width:15px;
              height:25px;
              position:relative;
              bottom:3px;
              padding-left:15px;
            }
          }
        }
      }
    }
    .col-sm-6.hidden-xs{
      width:max-content;
      padding-right: 0;
      padding-left:0;
      float:right;
    }
    .user-menu{
      ul{
        .btn.btn-yellow{
          margin-right:20px;
        }
        display: flex;
        flex-wrap:nowrap;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
      }
    }
  } 
}
.mobile-nav{
  display:flex;
  flex-direction: row;
  position:relative;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo-top{
  display:flex;
  align-items: center;
  height:100%;
  img{
    width:79px;
    height:23px;
    vertical-align: middle;
  }
}
.mobile-search-icon{
  width:22px;
  height:22px;
}
.mobile-nav--icons{
  padding:20px 15px;
  padding-bottom:0px;
  display:flex;
  flex-direction: row;
  position:relative;
  justify-content: space-between;
  .btn-yellow{
    border-radius: 50%;
    padding:15px 15px;
    font-size: 20px;
    width:10px;
    height:10px;
    line-height:0.6;
  }
   img{
    width:18px;
    height:18px;
    border:1px solid lightgray;
    padding:10px;
    border-radius: 50%;
  }
}
.mobile-menu-notification{
  width:40px;
  height:40px;
}
.mobile-menu-messages{
  width:40px;
  height:40px; 
}
.mobile-menu-user-avatar{
  width:40px;
  height:40px; 
  img{
    padding:3px;
    width:32px;
    height:32px;
  }
}
