.end{
  padding-bottom: 50px;
  @media only screen and (min-width:768px){
    h2:first-of-type{
      width:70%;
      display:inline-block;
      margin-bottom: 35px;
    }
    .container-fluid:nth-of-type(2) {
      margin-right:0;
    }
    .container-fluid{
      max-width:100%;
      width:100%;
      margin-bottom: 35px;
      display:flex;
      flex-direction: row;
      .col-sm-12:nth-of-type(2){
        border-top:0;
        border-left:1px solid #EFF1F6;
        min-width:200px;
        max-width: 30%;
      }
    }
  }
}

.search-form{
  @media only screen and (max-width:1279px){
    background-color: #f7f7f7;
  }
  box-sizing: border-box;
  .search-results_section{
    @media only screen and (min-width:1280px){
      background-color: #f7f7f7;
      box-sizing: border-box;
      .row{
        display: flex;
        flex-wrap: wrap;
      }
      .search-results-desktop{
        width:75%;
        float:right;
      }
      .col-lg-3:nth-of-type(1){
        padding-right:0;
        width:25%;
      }
    }
    .search-results-desktop{
      .select{
        h4:nth-of-type(1){
          @media only screen and (max-width:767px){
            margin-top: 40px;
            margin-bottom: 15px;
          }
          @media only screen and (min-width:768px){
            margin-top: 50px;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
  .white{
    background:white;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.05);
    .col-xs-12:nth-of-type(2){
      @media only screen and (max-width:767px){
        border-top: 1px solid #EFF1F6;
        .p2{
          font-family: 'Proxima Nova Bold', sans-serif;
          font-weight: 600;
          font-size: 13px;
          margin-top:30px;
          margin-bottom: 15px;
          br{
            display:none;
          }
          strong{
            margin-right: 5px;
          }
        }
        .box-btn-yellow{
          margin-bottom: 10px;
        }
      }
      @media only screen and (min-width:768px){
        .p2{
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .borderTB{
    @media only screen and (min-width:1280px){
      border-top:1px solid #e6e6eb;;
      border-bottom: 1px solid #e6e6eb;
    }
    .white{
      box-shadow: none;
    }
  }
  .white.borderTB{
    @media only screen and (max-width:1279px){
      h5{
        margin-top: 35px;
        margin-bottom: 20px;
      }
    }
    @media only screen and (max-width:1279px){
      border-top:1px solid #e6e6eb;;
      border-bottom: 1px solid #e6e6eb;
    }
    @media only screen and (min-width:1280px){
      padding-bottom: 40px;
      border:none;
    }
  }
  box-sizing: border-box;
  .person-list{
    li{
      span{
        color: #9EA1AD;
        font-weight: 700;
        display: inline-block;
        width: 44px;
        height: 44px;
        @media only screen and (max-width:767px){
          width:40px;
          height:40px;
        }
        line-height: 44px;
        background: #EFF1F6;
        text-align: center;
        border-radius: 100%;
        margin-left: -10px;
        font-family: 'Proxima Noba Bold';
      }
    }
  }
  .more_second{
    color: #2f2f2f;
    text-decoration: none;
    padding: 19px 48px 19px 28px;
    font-family: 'Proxima Nova Bold', sans-serif;
    font-weight: normal;
    float: right;
    padding-right:0;
  }

  label{
    font-family: 'Proxima Nova Bold', sans-serif!important;
  }
  .form-inline{
    label{
      font-family: 'Proxima Nova Bold', sans-serif;
      font-weight: 600;
      @media only screen and (max-width:767px){
        font-size: 13px;
      }
      @media only screen and (min-width:768px){
        font-size: 14px;
        margin-bottom: 8px;
      }
    }
  }
  .filter-results{
    text-decoration: none;
    color:#464952;
    text-transform: none;
    margin-top:20px;
    text-align: right;
    float:right;
    font-size: 16px;
    font-family: 'Proxima Nova Regular', sans-serif;
    @media only screen and (max-width:767px){
      font-size: 14px;
    }
    font-weight: normal;
    position: relative;
    margin-bottom: 15px;
    margin-top: 25px
  }
  .filter-results:before{
    content: '';
    display: inline-block;
    position: absolute;
    left:-25px;
    top: 0;
    background: url(/img/icons_svg/equalizer.png) no-repeat 100%;
    width: 15px;
    height: 18px;   
  }
  .col-xs-12{
    box-sizing: border-box;
    h2{
      margin:20px 0 20px 0;
    }
    color:#474952;
  }
  .form-inline:last-of-type{
    flex-flow:row;
    flex-wrap:wrap; 
  }
  .content-left:first-of-type{
    justify-content: flex-start;
    margin-right: 7.5px;
    max-width:calc(50% - 7.5px);
  }
  .content-right{
    justify-content:flex-start; 
    margin-left:7.5px;
    max-width: calc(50% - 7.5px);
    width:100%;
    margin-bottom: 20px;
    color: #474952;
    .select{
      margin-bottom: 0;
      position:relative;
      display:inline-block;
      width:100%;
      .select-input{
        border: 1px solid #e5e7f0;
        border-radius: 17px;
        padding: 11px 22px 9px;
        font-size: 13px;
        cursor: pointer;
        width:100%;
        box-sizing: border-box;
        position:relative;
        font-family: 'Proxima Nova Regular', sans-serif;
        font-size: 13px;
        background: white;
        span{
          color: #7c7c85;
          font-size: 14px;
          position: absolute;
          right: 30px;
          top: 12px;
        }
      }
      .select-input:after{
        content: '';
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 13px;
        background: url(/img/icons_svg/arrow_rozwin.svg) no-repeat 100%;
        width: 12px;
        height: 15px;
      }
      .select-list{
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        border: 1px solid #e5e7f0;
        background: #fff;
        border-bottom-right-radius: 17px;
        border-bottom-left-radius: 17px;
        display: none;
      }
    }
  }
  .content-left:last-of-type{
    @media only screen and (max-width:767px){
      width:100%;
    }
  }
  .autocomplete{
    position:relative;
    display:inline-block;
    max-width:260px;
    @media only screen and (max-width:767px){
      width:100%;
      max-width: 100%;
      .autocomplete_input{
        width:100%;
        input[type="text"]{
          width:calc(100% - 44px);
        }
      }
    }
    .autocomplete_input{
      border: 1px solid #e5e7f0;
      border-radius: 17px;
      font-size: 13px;
      width:100%;
      input[type="text"]{
        border:0;
        margin:0;
      }
    }
  }
  .autocomplete-list{
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    border: 1px solid #e5e7f0;
    background: #fff;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    display: none;
    ul{
      margin-top:0;
      margin-bottom: 1rem;
      list-style:none;
    }
  }
  .radio-buttons{
    display:flex;
    flex-direction: row;
    label{
      font-family: 'Proxima Nova Regular', sans-serif!important;
      font-weight: 300;
      @media only screen and (max-width:767px){
        padding-top:3.5px!important;
        padding-bottom: 3.5px!important;
      }
      @media only screen and (min-width:768px){
        font-size: 13px;
      }
    }
    @media only screen and (min-width:768px){
      div{
        margin:0!important;
      }
    }
    div{
      margin:10px 0 10px 0;
    }
    input[type="radio"]{
      display:none;
      box-sizing: border-box;
      padding:0;
      &:checked + label{
        background: url("/img/icons_svg/radio-checked.png") no-repeat 0 50%;
      }
    }
  }
  input[type="radio"]+label{
    font-family: proxima_nova_rgregular;
    padding-left: 28px;
    background: url(/img/icons_svg/radio.png) no-repeat 0 50%;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-right: 20px;
    cursor: pointer;
  }
  input[type="radio"] :checked{
    background: url("/img/icons_svg/radio-checked.png") no-repeat 0 50%;
  }

  label{
    font-family: 'Proxima Nova Bold';
    color:#474952;
    display:block;
    margin-bottom: 15px;
  }
  .calender{
    box-sizing: border-box;
    display:none;
    flex-direction:column;
    border-radius:5px;
    padding:0 11px 11px 11px;
    position:absolute;
    z-index:5;
    top:60px;
    @media only screen and (max-width:350px){
      th, td{
        min-width:35px!important;
      }
    }
    @media only screen and (min-width:768px){
      top:70px;
    }
    @media only screen and (min-width:1280px){
      top:70px;
    }    
    float:left;
    width:max-content;
    color:#333;
    text-align: left;
    background-color:#fff;
    background-clip:padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    th{
      min-width: 40px;
      padding: 11px 9px;
      text-align: center;
      font-weight: normal;
      font-size: 12px;
      box-sizing: border-box;
      img{
        width: 10px;
        cursor: pointer;
        vertical-align: middle;
      }
    }
    td{
      border-bottom: 1px solid #fff;
      min-width: 40px;
      padding: 11px 9px;
      text-align: center;
      box-sizing: border-box;
    }
    tbody{
      font-size: 12px;
      tr td:first-of-type{
        border-radius: 20px 0 0 20px;
      }
      tr td:last-of-type{
        border-radius:0 20px 20px 0;
      }
    }
    table{
      border-collapse: collapse;
      background-color: transparent;
      width:100%;
      box-sizing: border-box;
    }
    .month{
      font-weight: normal;
      min-width:40px;
      text-align: center;
      font-size: 14px;
    }
    thead{
      width:100%;
      text-align: center;
      box-sizing: border-box;
    }
    .off{
      color:#b3b6c1;
    }
    .on{
      color: #333;
    }
    .start{
      background-color: #F6AF2F;
      color: #fff;
      border-radius: 20px;
      position:relative;
    }
    .start:after{
      content: '';
      display: block;
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: #fce4b8;
      z-index: -10;
    }
    .end{
      background-color: #F6AF2F;
      color: #fff;
      border-radius: 20px;
      position:relative;
    }
    .end:before{
      content: '';
      display: block;
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: #fce4b8;
      z-index: -10;
    }
    .in-range{
      background: #fce4b8;
    }
    .left{
      float:left;
      padding-bottom:11px;        
    }
    .left:before{
      content: '';
      background: #f5f4f4;
      position: absolute;
      left: 0;
      @media only screen and (max-width:767px){
        top: 50%;
      }
      @media only screen and (min-width:768px){
        top:0;
      }
      height: 40px;
      width: 100%;
      z-index: -1;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    .right{
      position:relative;
      @media only screen and (min-width:768px){
        float:left;
      }
    }
  }
  @media only screen and (max-width:767px){
    .right:before{
      content: '';
      background: #f5f4f4;
      position: absolute;
      left: 0;
      top:0;
      height: 40px;
      width: 100%;
      padding:0 11px 0 11px;
      margin-left:-11px;
      z-index: -1;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;       
    }
  }
  h1, p1{
    color:#fff;
    margin-bottom:.5rem;
    margin-top:0;
  }
  .input-white-search-icon{
    width:20px;
    height:15px;
    margin-top:-7px;
    position:relative;
    top:2px;
    @media only screen and (min-width:768px){
      padding:7px 2.5px;
    }
  }
  .form-inline{
    display:flex;
    @media only screen and (max-width: 767px){
      flex-flow:row wrap;  
    }
    @media only screen and (min-width:768px){
      flex-wrap: nowrap;
    }
    align-items: center;
    position:relative;
    color:#fff;
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }
    .btn.btn-yellow{
      margin-bottom: 30px;
      @media only screen and (max-width:767px){
        font-size: 16px;
        margin-bottom: 45px;
        font-family: "Proxima Nova Bold", sans-serif;
        font-weight: 600;
        width:100%;
        text-align: center;
      }
    }
  }
  .sr-only{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip: rect(0, 0, 0, 0);
    border:0;
  }
  .label{
    display:block;
    touch-action: manipulation;
  }
  input{
    overflow: visible;
  }
  input[type="text"]{
    border-radius:17px;
    padding:11px 22px 9px;
  }
  .input-group-addon{
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    img{
      width: 20px;
      height: 20px;
      vertical-align: middle;
      border-style: none;
    }
  }
  .where-inputs .input-group .form-control{
    border:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    z-index: 2;
    flex:1 1 auto;
    width:1%;
    margin-bottom:0; 
    font-family: 'Proxima Nova Regular', sans-serif;
    color:#464952;
    @media only screen and (max-width:1279px){
      font-size: 13px;
    }
    @media only screen and (min-width:1280px){
      font-size: 16px;      
    }
  }
  .where-inputs input{
    background: transparent;
    color: #474952;
  }

  @media only screen and (max-width:767px){
    .where-inputs{
      width:100%;
      background: transparent;
      border-radius: 0;
      padding:0;
      margin-right:0;
    }
    .input-group{
      width:100%;
      border:0;
      padding:7px 0;
      background:#fff;
      margin-bottom:10px;
      &:last-of-type{
        margin-bottom: 20px;
      }
      border-radius:28px;
      position:relative;
      display:flex;
      border:2px solid #EFF1F6;
    }
    .search-form{
      .btn-yellow{
        width:100%;
        margin-top:20px;
      }
    }
    .select{
      .selected{
        background-color: #fff;
        border: 1px solid #e5e7f0;
        padding: 11px 22px 9px;
        border-radius: 17px;
        cursor: pointer;
        margin-bottom: 20px;
        position:relative;
        .p2{
          margin:0;
          position:relative;
          font-size: 13px;
        }
        &:after{
          content: '';
          display: inline-block;
          position: absolute;
          right: 20px;
          top: 12px;
          background: url(/img/icons_svg/arrow_rozwin.svg) no-repeat 100%;
          width: 15px;
          height: 15px;
        }
      }
    }
    .searchbox-results{
      float:left;
      .white{
        float:left;
        padding-bottom: 20px;
        margin-bottom: 30px;
        .box-btn-yellow{
          margin:0 auto;
          text-align: center;
          &:hover{
            box-shadow:none;
          }
        }
      }
    }
  }
  .content-right{
    @media only screen and (max-width:767px){
      width:150px;
      margin-left: 0;
    }
  }
  .content-left:first-of-type {
    @media only screen and (min-width:345px) and (max-width:384px){
      margin-right: 20px;
    }
    @media only screen and (min-width:385px) and (max-width:767px){
      margin-right: 40px;
    }
  }
  @media only screen and (min-width:768px){
    .box-btn-yellow{
      margin:0 auto;
      text-align: center;
      .btn.btn-yellow{
        bottom:-100px;
        @media only screen and (min-width:768px){
          bottom:-82.5px;
        }
      }
      &:hover{
        box-shadow:none;
      }
    }
    .form-inline{
      justify-content: space-between;
      flex-wrap: nowrap;
      .btn.btn-yellow{
        font-size:0;
        float:right;
        margin:0!important;
        border-radius: 100%;
        padding:14px 12.5px;
        position:relative;
      }
    }
    .content-left:first-of-type {
      max-width: calc(33% - 7.5px);
    }
    .content-left{
      order:-1;
    }
    .content-right{
      max-width: calc(33% - 7.5px);
      @media only screen and (min-width:768px) and (max-width:1279px){
        width:180px;
      }
      margin-bottom: 0;
    }
    .content-left:last-of-type {
      max-width: calc(33% - 7.5px);
      @media only screen and (min-width:768px) and (max-width:1279px){
        min-width:330px;
        .autocomplete{
          width:100%;
          max-width: 100%;
          input{
            width:calc(100% - 44px);
          }
        }
      }
      .autocomplete{
        .autocomplete_input{
          box-sizing: border-box;
        }
      }
    }
    .form-inline:last-of-type{
      flex-wrap:nowrap;
      margin-top:30px;
      label{
        margin-bottom: 11px;
        padding-top:8px;
      }
    }
    .where-inputs{
      width:100%;
      border-radius: 35px;
      background: #fff;
      margin-right:15px;
      .input-group:first-of-type {
        border-right: 1px solid #EFF1F6;
        width:50%;
        border:0;
        padding:7px 0;
        background:#fff;
        border-top-left-radius: 28px;
        border-bottom-left-radius: 28px;
        position:relative;
        display:flex;
        border:2px solid #EFF1F6;

      }
      .input-group:last-of-type {
        width:50%;
        border:0;
        padding:7px 0;
        background:#fff;
        border-left:none!important;
        border-top-right-radius: 28px;
        border-bottom-right-radius: 28px;
        position:relative;
        display:flex;
        border:2px solid #EFF1F6;
      }
      .input-group{
        width:50%;
        border: 0;
        padding: 7.5px 0;
        position: relative;
        display: flex;
        .form-control:last-of-type{
          margin-left:10px;
        }
        .input-group-addon{
          margin-right:10px;
        }
      }
    }
    .form-inline label{
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
  }
  @media only screen and (min-width:1280px){
    .where-inputs{
      width:calc(100% - 150px);
    }
    .input-white-search-icon{
      top:10px;
      margin-right:12px;
    }
    .form-inline{
      justify-content:flex-start;
      &:last-of-type{
        label{
          text-align: left;
          justify-content: flex-start;
        }
        .radio-buttons{
          div{
            margin:0;
          }
        }
        margin-top:40px;
        display:flex;
        flex-direction: row;
        .content-left:first-of-type{
          margin-right: 50px;
        }
        .content-left:last-of-type{
          width:360px;
          margin-right: 40px;
          .autocomplete{
            width:100%;
            max-width:100%;
          }
        }
        .content-right{
          width:200px;
        }
      }
      .btn.btn-yellow{
        font-size:14px;
        line-height:37.5px;
        border-radius:37.5px;
        float:right;
        padding:6.5px 25.5px;
        .input-white-search-icon{
          width:20px;
          height:20px;
          top:5px;
        }
      }
    }
    .next-section{
      top:180px;
    }
  }
  @media only screen and (min-width:768px){
    h2:first-of-type{
      width:70%;
      display:inline-block;
      margin-bottom: 35px;
      margin-top:50px;
    }
    .select{
      h2:first-of-type{
        margin-top:40px;
      }
    }
    .selected{
      width:140px;
      float:right;
      margin-bottom: 15px;
      margin-top:40px;
      position:relative;
      border:1px solid #e5e7f0;
      background:white;
      border-radius: 23px;
      padding:2.5px 15px;
      box-sizing: border-box;
      @media only screen and (min-width:768px) and (max-width:1279px){
        top:40px;
        right:39px;
        margin:0;
        position:absolute;
        .p2{
          font-size: 13px;
        }
      }
      @media only screen and (min-width:1280px){
        top:0px;
        margin-bottom: 0;
        margin-top:17.5px;
        width:180px;
        padding:2.5px 20px;
        .p2{
          font-size: 13px;
        }
        .p2:after{
          right:15px;
        }
      }
      .p2{
        margin:0;
        line-height: 35px;
      }
      .p2:after{
        content: '';
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 12.5px;
        background: url(/img/icons_svg/arrow_rozwin.svg) no-repeat 100%;
        width: 15px;
        height: 15px;
      }

    }
    .searchbox-results{
      .btn.btn-yellow{
        margin:0 auto;
      }
      width:100%;
      margin-bottom: 35px;
      &:last-of-type{
        margin-bottom: 25px;
      }
      .white{
        display: flex;
        flex-direction: row;
        .btn.btn-yellow{
          padding:16px 20px;
          font-size: 13px;
          @media only screen and (min-width:1280px){
            bottom:-85px;
          }
        }
        .col-xs-12:nth-of-type(1){
          @media only screen and (min-width:768px) and (max-width:1279px){
            padding:0 20px 0 30px;
          }
          @media only screen and (min-width:1280px){
            padding:0 15px 0 25px;
          }
        }
        .col-xs-12:nth-of-type(2){
          border-left:1px solid #EFF1F6;
          .p2{
            @media only screen and (min-width:768px){
              font-size: 13px;
              line-height: 18px;
            }
            strong{
              font-family: 'Proxima Nova Bold', sans-serif;
              @media only screen and (min-width:1280px){
                font-size: 13px;
              }
            }
          }
          @media only screen and (min-width:768px) and (max-width:1279px){
            padding:0 20px;
          }
          @media only screen and (min-width:1280px){
            padding:0 40px;
          }
        }
        .person-list{
          li.person-list:nth-of-type(n+4){
            @media only screen and (max-width:1279px){
              display:none;
            }
          }
          .join{
            display:block!important;
          }
        }
      }
    }
    .container-fluid{
      max-width:100%;
      margin-bottom: 35px;
      display:flex;
      flex-direction: row;
      .col-sm-12:nth-of-type(2){
        border-top:0;
        border-left:1px solid #EFF1F6;
        width:200px;
        .btn.btn-yellow{
          white-space:nowrap;
          padding:16px 20px;
          font-size: 14px;
        }
        .person-list{
          li.person-list:nth-of-type(n+4){
            display:none;
          }
          .join{
            display:block!important;
          }
        }
      }
    }
  }
  .search-results_filters{
    background:white;
    box-sizing: border-box;
    display:none;
    .search-filters-white-addon{
      .btn.btn-yellow{
        font-weight: 600;
      }
      .search-results_filter-box{
        h5{
          margin:0 0 -5px 0;
          padding-top:30px;
        }
        .search-filters_close-icon{
          background:url('/img/icons_svg/close_icon.png') no-repeat;
          background-size: 18px 17px;
          height:20px;
          width:20px;
          padding:0;
          border:none;
          cursor:pointer;
          position:absolute;
          top:20px;
          right:20px;
          outline: none;
        }
      }
      .btn{
        @media only screen and (min-width:768px){
          display:none;
        }
        width:100%;
        margin-bottom: 15px;
        &:last-of-type{
          margin-bottom: 75px;
        }
      }
    }
    @media only screen and (min-width:1280px){
      float:left;
      width:20%;
      display:block;
      .search-filters-white-addon{
        background: #fff;
        padding: 0 20px 0 9999px;
        margin: 0 -20px 0 -9999px;
        border-right: 1px solid #e6e6eb;
        height:100%;
      }
    }
    .search-results_filters-filter-box{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: wrap;
      margin-top:20px;
      span{
        @media only screen and (max-width:767px){
          font-size: 13px;
        }
        position:relative;
        padding-top: 13px;
        padding-bottom: 13px;
        border-radius: 24px;
        background-color: #5f6069;
        color: #c5c8d3;
        display: inline-block;
        border: 1px solid #e5e7f0;
        border-radius: 25px;
        padding: 15px 40px 15px 20px;        
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        &:after{
          content:'';
          width:15px;
          height:15px;
          top:20px;
          right:12.5px;
          display:block;
          position:absolute;
          background: url(/img/icons_svg/usun_1.svg) no-repeat;
          background-size: 10px 10px;
        }
      }
      .filters-closing-button{
        padding:24px 25px 24px 25px;
        &:after{
          right:15px;
        }
      }
    }
    .search-results_filters-box{
      padding-top:20px;
      h4{
        font-family: 'Proxima Nova Bold';
        margin-bottom: .5rem;
        margin-top:0;
        font-weight: 600;
        letter-spacing: 0.5px;
        @media only screen and (max-width:767px){
          font-size: 16px;
        }
        @media only screen and (min-width:1280px){
          font-size: 14px;
        }
      }
      .input-price{
        max-width: 200px;
        position: relative;
        margin-bottom: 20px;
        box-sizing: border-box;
        input[type="text"] {
          box-sizing: border-box;
          margin-bottom: 0 !important;
          border: 1px solid #e5e7f0;
          border-radius: 17px;
          width: 100%;
          padding: 11px 22px 9px;
          margin-bottom: 20px;
          font-size: 13px;
          font-family: 'Proxima Nova Regular', sans-serif;
          color: #464952;
        }
        span{
          position: absolute;
          right: 20px;
          top: 0;
          display: inline-block;
          height: 100%;
          line-height: 40px;
          color: #7c7c85;
          font-size: 13px;
          font-family: "Proxima Nova Regular", sans-serif;
        }
      }
      .search-results_filter-box_checkboxes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        div{
          margin-bottom: 5px;
        }
        .new-line{
          flex-basis: 100%;
          display: flex;
        }
        input[type="checkbox"]{
          display:none;
        }
        input[type="checkbox"]:checked+label {
          background: url(/img/icons_svg/checkbox-checked.png) no-repeat 0 50%;
        }
        input[type="checkbox"] + label {
          padding-left: 29px;
          font-family: 'Proxima Nova Regular'!important;
          font-size: 13px;
          letter-spacing: .5px;
          background: url(/img/icons_svg/checkbox.png) no-repeat 0 50%;
          padding-top: 3px;
          padding-bottom: 3px;
          padding-right: 20px;
          cursor: pointer;
          img{
            display: block;
            width: 24px;
            height: 24px;
          }
        }
      }
      .select{
        min-width:200px;
        position: relative;
        display:inline-block;
        margin-bottom: 20px;
        .select_input{
          border:1px solid #e5e7f0;
          border-radius: 17px;
          padding:11px 22px 9px;
          font-size: 13px;
          background: url(/img/icons_svg/arrow_select.png) no-repeat;
          background-position: calc(100% - 20px) 50%;
          cursor: pointer;
          font-family: 'Proxima Nova Regular', sans-serif;
          color:#474952;
          @media only screen and (min-width:1280px){
            font-size: 13px;
          }

        }
        .select__list{
          position:absolute;
          top:calc(100% - 1px);
          left:0;
          width:100%;
          border:1px solid #e5e7f0;
          background: white;
          border-bottom-right-radius: 17px;
          border-bottom-left-radius: 17px;
          display:none;
          ul{
            list-style: none;
            padding-left:1.5rem;
            li{
              list-style: none;
              margin-bottom: 5px;
              text-align: left;
            }
          }
        }
      }
      .input-slider{
        padding:35px 0;
        .track-labels{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: -35px;
          padding-bottom: 15px;
          font-size: 12px;
          font-family: "Proxima Nova Regular", sans-serif;
          font-family: 10px;
          letter-spacing: .5px;
          color: #464952;
        }
        .track{
          background:#e7e9f1;
          border-radius: 1px;
          height:3px;
          width:100%;
          position: relative;
          .track_choosen{
            background:#f6af2f;
            width:40%;
            position: absolute;
            height:3px;
            left:0;
            top:0;
          }
          .track_choosen:after{
            content: '';
            width: 10px;
            height: 10px;
            display: block;
            background: #F6AF2F;
            border-radius: 100%;
            margin-top: -4px;
            float: right;
            margin-right: -19px;
            cursor: pointer;
          }
          .track_choosen:before{
            content: '';
            width: 28px;
            height: 28px;
            display: block;
            border-radius: 100%;
            margin-top: -14px;
            margin-right: -10px;
            float: right;
            background: rgba(246,175,47,0.3);
          }
          span{
            float: right;
            margin-top: -33px;
            margin-right: -32px;
            display: inline-block;
            font-size: 12px;
            font-family: "Proxima Nova Regular", sans-serif;
            color: #464952;
          }
        }
      }
    }
  }
  .col-xs-12{
    box-sizing: border-box;
  }
  .row{
    box-sizing: border-box;
  }
  .person{
    margin-top:20px;
    display:flex;
    align-items: center;
    flex-direction: row;
  }
  .person-row{
    padding-bottom:20px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .person-avatar{
    position:relative;
    margin-right:10px;
    img{
      border-radius: 100%;
      max-width:50px;
      vertical-align: middle;        
    }
  }
  .person-name{
    .p3{
      margin-bottom:5px;
      margin-top:5px;
      strong{
        font-family: 'Proxima Nova Bold', sans-serif;
      }
    }
  }
  .person-avatar:after{
    content: '';
    display: block;
    width:41px;
    height:41px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid #fff;
  }
  .star{
    background:url('/img/icons_svg/star_userinfo_2.svg');
    display:inline-block;
    width:15px;
    height:15px;
    float:left;       
  }
  .star.active{
    background:url('/img/icons_svg/star_userinfo_1.svg');
  }
  .trip-time span{
    background-color: #B3B6C1;
    position:relative;
    color: #fff;
    width:30px;
    font-size: 13px;
    font-family: 'Proxima Nova Regular', sans-serif;
    padding: 0 10px;
    border-radius: 10px;
    line-height: 26px;
    display: inline-block;
    margin-top:18px;
    @media only screen and (max-width:359px){
      margin-right: 20px;
    }
    @media only screen and (min-width:360px){
      margin-right: 30px;
    }
    @media only screen and (min-width:768px){
      margin-right: 40px;
    }
    &:after{
      background:url('../img/icons_svg/like.png') no-repeat;
      background-size: auto;
      content:'';
      display:block;
      width:18px;
      height:15px;
      position:absolute;
      cursor: pointer;
      @media only screen and (max-width:359px){
        right:-25px;
      }
      @media only screen and (min-width:360px){
        right:-30px;
      }
      @media only screen and (min-width:768px){
        right:-40px;
      }
      top:6.5px;
    }    
  }
  .trip-time span:hover::after{

    background:url('../img/icons_svg/like-hover.png') no-repeat 0 0;
    background-size: auto;
    width:18px;
    height:15px;

  }

  .tour-dates-row{
    text-align: center;
    .p3{
      margin:0;
      text-align: center;
      margin-bottom:7.5px;
      @media only screen and (min-width:768px){
        font-size: 15px;
      }
    }
    span{
      line-height: 1.5;
      font-size: 12px;
      font-family: 'Proxima Nova Regular', sans-serif;
      font-weight: 100;
      color: #464952;
      letter-spacing: 0;
      @media only screen and (min-width:768px){
        font-size: 13px;
      }

    }
    padding-bottom:20px;
    display:flex;
    flex-direction: row;
    @media only screen and (max-width:359px){
      justify-content: space-between;
    }
    @media only screen and (min-width:360px){
      justify-content: flex-start;
    }
    .tour-dates-row__date:first-of-type{
      background: url(/img/icons_svg/arrow_right.svg) no-repeat 100% 0;
      background-size: 28px auto;
      @media only screen and (max-width:767px){
        background-size: 18px auto;
      }
    }
    .tour-dates-row__date{
      max-width: 50%;
      @media only screen and (min-width:360px){
        white-space: nowrap;
      }
      @media only screen and (max-width:767px){
        padding-right: 22.5px;
      }
      @media only screen and (min-width:768px){
        padding-right: 40px;
      }
      &:nth-of-type(2){
        padding-right: 0;
        padding-left:5px;
      }
    }
    .tour-dates-row__date.free{
      background: url(/img/icons_svg/elastic_date_active.svg) no-repeat 100% 0;
      background-size: 18px auto;
      @media only screen and (max-width:399px){
        padding-right:25px;
      }
      @media only screen and (min-width:400px){
        padding-right: 35px;
      }
    }
    .tour-dates-row__date.not-free{
      background: url(/img/icons_svg/elastic-date_gray.png) no-repeat 95% 0;
      background-size: 13px auto;
      @media only screen and (max-width:399px){
        padding-right:25px;
      }
      @media only screen and (min-width:400px){
        padding-right: 35px;
      }
    }
  }
  .tour-details{
    padding-bottom:15px;
    .p2{
      margin:0;
    }
    .h7{
      @media only screen and (max-width:767px){
        margin-top:0;
        margin-bottom: 25px;
      }
      @media only screen and (min-width:768px){
        font-size: 18px;
        margin:0;
      }
    }
    ul{
      padding:0;
      margin:0;
      list-style: none;
      li{
        .p2{
          strong{
            font-family: 'Proxima Nova Bold', sans-serif;
          }
          font-size: 13px;
        }
      }
      @media only screen and (min-width:768px){
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top:20px;
      }
      @media only screen and (max-width:767px){
        li{
          padding-left: 30px;
          margin-bottom: 15px;
        }
        li:nth-of-type(1){
          margin-top:25px;          
          background: url(/img/icons_svg/destynacja.svg) no-repeat -0px 50%;
          background-size: 25px;
          @media only screen and (max-width:767px){
            background-position: -4.35px 50%;
          }
        }
        li:nth-of-type(2){
          background: url(/img/icons_svg/miasto_startowe.svg) no-repeat 0 50%;
          background-size: 27px auto;
          @media only screen and (max-width:767px){
            background-position: -5px 50%;
          }
        }
        li:nth-of-type(3){
          background: url(/img/icons_svg/transport.svg) no-repeat 0 -4px;
          background-size: 25px auto;
        }
      }
      @media only screen and (max-width:1279px) and (min-width:768px){
        li{
          padding-top:20px;
          margin-right: 30px;
          margin-bottom: 12px;
          .p2{
            strong{
              display:block;
              width:100%;
              white-space: nowrap;
              margin-bottom: 5px;
            }
          }
        }
        li:nth-of-type(1){
          background: url(/img/icons_svg/destynacja.svg) no-repeat -3px -7.5%;
          background-size: 20px;
        }
        li:nth-of-type(2){
          background: url(/img/icons_svg/miasto_startowe.svg) no-repeat -5px -7.5%;
          background-size: 22px auto;
        }
        li:nth-of-type(3){
          background: url(/img/icons_svg/transport.svg) no-repeat 0 -7.5%;
          background-size: 22px auto;
          margin-right: 0;
        }
      }
      @media only screen and (min-width:1280px){
        li{
          padding-left:30px;
          margin-right: 30px;
          margin-bottom: 12px;
          &:last-of-type{
            margin-right: 0;
          }
          .p2{
            strong{
              display:block;
              width:100%;
              white-space: nowrap;
              margin-bottom: 5px;
            }
          }
        }
        li:nth-of-type(1){
          background: url(/img/icons_svg/destynacja.svg) no-repeat 0px 3px;
          background-size: 25px;
        }
        li:nth-of-type(2){
          background: url(/img/icons_svg/miasto_startowe.svg) no-repeat 0px 3px;
          background-size: 25px auto;
        }
        li:nth-of-type(3){
          background: url(/img/icons_svg/transport.svg) no-repeat 0px 3px;
          background-size: 25px auto;
        }
      }
    }
  }
  .person-list{
    padding:0;
    margin:0;
    list-style:none;
    display:flex;
    .participer{
      margin:0 0 30px;
      width:36px;
      height:36px;
      display:inline-block;
      float:left;
      margin-left:-10px;
      img{
        width:100%;
        height:auto;
        border-radius: 100%;
        border:2px solid #eff1f6;
        vertical-align: middle;
      }
    }
    .participer:first-of-type{
      margin-left:0;
    }
    .join{
      width:40px;
      height:40px;
      @media only screen and (max-width:767px){
        width:36px;
        height:36px;
      }
      display:inline-block;
      float:left;
      margin-left:15px;
      border-radius: 100%;
      border:2px solid #eff1f6;
      img{
        width:20px;
        height:20px;
        margin:10px 10px;
        @media only screen and (max-width:767px){
          margin:8px 8px;
        }
        vertical-align: middle;
      }
    }
  }
  .call-me{
    box-sizing: border-box;
    margin:0 auto;
    h4{
      margin-top:5px;
      @media only screen and (min-width:768px){
        margin-bottom: 20px;
      }
    }
    .col-sm-4{
      padding:0;
    }
    @media only screen and (min-width:768px) and (max-width:1279px){
      .col-sm-4:nth-of-type(1){
        padding-right:20px;
      }
      .col-sm-4:nth-of-type(4){
        padding-right:20px;
      }
      .col-sm-4:nth-of-type(3){
        padding-left:20px;
      }
      .col-sm-4:nth-of-type(6){
        padding-left:20px;
      }
      .col-sm-4:nth-of-type(2){
        padding-left:10px;
        padding-right: 10px;
      }
      .col-sm-4:nth-of-type(5){
        padding-left:10px;
        padding-right: 10px;
      }
    }
    @media only screen and (min-width:1280px){
      .col-sm-4:nth-of-type(1){
        padding-right:26.5px;
      }
      .col-sm-4:nth-of-type(4){
        padding-right:26.5px;
      }
      .col-sm-4:nth-of-type(3){
        padding-left:26.5px;
      }
      .col-sm-4:nth-of-type(6){
        padding-left:26.5px;
      }
      .col-sm-4:nth-of-type(2){
        padding-left:13.5px;
        padding-right: 13.5px;
      }
      .col-sm-4:nth-of-type(5){
        padding-left:13.5px;
        padding-right: 13.5px;
      }
    }
  }
  .meet-participaitor-box{
    width:100%;
    background-color: #fff;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 30px;
    padding:30px 0;
    text-align: center;
    .liked-it{
      border:none;
      outline: none;
      background-color: transparent;
      background:url('/img/icons_svg/like.png') no-repeat;
      background-size:auto;
      width:18px;
      height:15px;
      cursor:pointer;
      position:absolute;
      top:20px;
      right:20px;
      @media only screen and (min-width:768px){
        top:20px;
        right:10px;
      }
      &:hover{
        background:url('/img/icons_svg/like-hover.png') no-repeat;
      }
    }
    .btn-border{
      font-family: "Proxima Nova Regular", sans-serif;
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 10px;
      img{
        margin-right:5px;
        top:3px;
        position:relative;
      }
    }
    .meet-participaitor-box_image{
      max-width:95px;
      position:relative;
      margin: 0 auto 10px;
      text-align: center;
      box-sizing: border-box;
      img{
        max-width:100%;
        border-radius: 100%;
        width:80px;
        height:80px;
      }
    }
    .meet-participaitor-box_image:after{
      content: '';
      display: block;
      width: calc(80px - 4px);
      height: calc(80px - 4px);
      position: absolute;
      left: 10px;
      top: 2px;
      border-radius: 100%;
      background-color: transparent;
      border: 2px solid #fff;
      box-sizing:border-box;
    }
    .p3{
      margin-bottom: 5px;
      text-align: center;
      font-family: 'Proxima Nova Bold', sans-serif;
      font-weight: 600;
    }
  }
  .meet-participaitor-box-rating{
    clear: both;
    width:100%;
    margin-bottom: 30px;
    text-align: center;
    .star-rating{
      clear:both;
      margin:0 auto;
      display: inline-block;
      .star{
        display:inline-block;
        widtH:15px;
        height:15px;
        float:left;
        background:url('/img/icons_svg/star_userinfo_2.svg') no-repeat 0 0;
        background-size: 15px;
      }
      .active{
        background:url('/img/icons_svg/star_userinfo_1.svg') no-repeat 0 0;
      }
    }
    .btn.btn0border{
      padding:12px 15px 9px;
    }
  }
  .more_second{
    color: #2f2f2f;
    text-decoration: none;
    padding: 19px 48px 19px 28px;
    font-family: 'Proxima Nova Bold', sans-serif;
    font-weight: normal;
    float: right;
    padding-right:30px;
    padding-top:0px;
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      background: url(/img/icons_svg/arrow_rozwin.svg) no-repeat 100%;
      width: 12px;
      height: 15px;
    }
  }
  .last-col{
    margin-bottom: 70px;
    h4{
      margin-top: 31px;
      margin-bottom: 30px;
      @media only screen and (min-width:768px){
        margin-top:15px;
        margin-bottom: 25px;
      }
    }
  }
  .select{
    margin-bottom: 50px;
    @media only screen and (min-width:768px){
      margin-bottom: 5px;
    }
    @media only screen and (max-width:1279px){
      .search-results_filters-filter-box{
        display:none!important;
      }
    }
    .search-results_filters-filter-box{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: wrap;
      margin-top:20px;
      span{
        position:relative;
        padding-top: 13px;
        padding-bottom: 13px;
        border-radius: 24px;
        background-color: #5f6069;
        color: #c5c8d3;
        display: inline-block;
        border: 1px solid #e5e7f0;
        border-radius: 25px;
        padding: 15px 40px 15px 20px;        
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: 'Proxima Nova Regular', sans-serif;
        @media only screen and (min-width:1280px){
          font-size: 13px;
        }
        &:after{
          content:'';
          width:15px;
          height:15px;
          top:20px;
          right:12.5px;
          display:block;
          position:absolute;
          background: url(/img/icons_svg/usun_1.svg) no-repeat;
          background-size: 10px 10px;
        }
      }
      .filters-closing-button{
        padding:24px 25px 24px 25px;
        &:after{
          right:15px;
        }
      }
    }
  }
}
