//colors
$dark-gray: #464952;
$gray: #737680;
$pearl: #eff1f6;
$yellow: #f6af2f;
$orange: #ff997a;
$green: #7abcb7;
//fonts
@font-face{
  font-family: 'Proxima Nova Bold';
  src: local('Proxima Nova Bold'), url("fonts/Proxima Nova/Mark Simonson - Proxima Nova Bold.otf") format("opentype");
}
@font-face{
  font-family: 'Proxima Nova Regular';
  src: local('Proxima Nova Regular'), url("/fonts/Mark Simonson - Proxima Nova Regular.otf") format("opentype");
}
@font-face{
  font-family: 'Tiempos Bold';
  src: local('Tiempos Bold'), url("/fonts/Tiempos/TiemposTextWeb-Bold.woff") format("woff") ;
  src: local('Tiempos Bold'), url("/fonts/Tiempos/TiemposTextWeb-Bold.eot") format('embedded-opentype'),
  url('TiemposTextWeb-Bold.woff') format('woff'),
  url('TiemposTextWeb-Bold.ttf') format('truetype');

}
h1, h2, h3, h4, h5, h6, .h7, p, .p1, .p2, .p3, .p4{
  color:$dark-gray;
}
h1, h2, h3, h4, h5{
  font-family: 'Tiempos Bold';
}
h6, .h7{
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 600;
}
.p1, .p2, .p3, .p4{
  font-family: 'Proxima Nova Regular', sans-serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
@media only screen and (min-width:1280px){
  h1{
    font-size: 60px;
  }
  h2{
    font-size: 50px;
  }
  h3{
    font-size: 44px;
  }
  h4{
    font-size: 30px;
  }
  h5{
    font-size:26px;
  }
  h6{
    font-size: 25px;
  }
  .h7{
    font-size: 20px;
  }
  .p1{
    font-size: 22px;
  }
  .p2{
    font-size: 16px;
  }
  .p3{
    font-size: 14px;
  }
  .p4{
    font-size: 13px;
  }
}
@media only screen and (min-width:768px) and (max-width: 1279px){
  h1{
    font-size: 44px;
  }
  h2{
    font-size: 38px;
  }
  h3{
    font-size: 32px;
  }
  h4{
    font-size: 24px;
  }
  h5{
    font-size:22px;
  }
  h6{
    font-size: 22px;
  }
  .h7{
    font-size: 20px;
  }
  .p1{
    font-size: 20px;
  }
  .p2{
    font-size: 14px;
  }
  .p3{
    font-size: 14px;
  }
  .p4{
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px){
  h1{
    font-size: 27px;
  }
  h2{
    font-size: 27px;
  }
  h3{
    font-size: 24px;
  }
  h4{
    font-size: 20px;
  }
  h5{
    font-size:20px;
  }
  h6{
    font-size: 22px;
  }
  .h7{
    font-size: 18px;
  }
  .p1{
    font-size: 16px;
  }
  .p2{
    font-size: 14px;
  }
  .p3{
    font-size: 14px;
  }
  .p4{
    font-size: 13px;
  }
}
